<div class="bg-light min-vh-70 d-flex flex-row align-items-center">
    <c-container>
      <app-new-company (onClosed)="onClosed($event)" *ngIf="showNewCompany" [isVisibleNewCompany]="showNewCompany"></app-new-company>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form *ngIf="isAdmin; else elseBlock" cForm [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div *ngIf="f['id'].touched && (f['id']['errors'] && f['id']['errors']['required'])" class="error-message">
                  Nome da empresa é obrigatório
                </div>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cil-people"></svg>
                  </span>

                  <select aria-label="company" formControlName="id" (change)="onSelectChange($event)" cSelect>
                    <option value="" disabled selected>Selecione uma opção</option>
                    <option value="-1">Crie uma nova empresa...</option>
                    <option *ngFor="let item of companys" [value]="item.id">{{ item.nameCompany }}</option>
                  </select>
                </c-input-group>

                <div *ngIf="f['nameDashboard'].touched && (f['nameDashboard']['errors'] && f['nameDashboard']['errors']['required'])" class="error-message">
                  Nome do dashboard é obrigatório!
                </div>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilNotes"></svg>
                  </span>
                  <input autoComplete="name" cFormControl placeholder="Nome do dashboard" formControlName="nameDashboard"/>
                </c-input-group>

                <div *ngIf="f['urlCompany'].touched && (f['urlCompany']['errors'] && f['urlCompany']['errors']['required'])" class="error-message">
                  Url é obrigatória!
                </div>
                <div *ngIf="f['urlCompany'].touched && (f['urlCompany']['errors'] && f['urlCompany']['errors']['pattern'])" class="error-message">
                  Insira uma URL válida!
                </div>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cil-link"></svg>
                  </span>
                  <input autoComplete="name" cFormControl placeholder="Url" formControlName="urlCompany"/>
                </c-input-group>

                <div class="d-grid">
                  <button cButton type="submit" color="success">Criar empresa!</button>
                </div>
              </form>
              
              <ng-template #elseBlock>
                <div>
                  <h4>{{ userCompany }}</h4>
                </div>
              </ng-template>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>

      <c-row class="justify-content-center" style="margin-top: 5vh;">
        <c-col lg="9" md="12" xl="6">
          <table cTable style="align-items: center;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Url</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of table | keyvalue">
                <th scope="row">{{ item.key }}</th>
                <td>{{ item.value.nameDashboard }}</td>
                <td>{{ item.value.urlCompany }}</td>
              </tr>
            </tbody>
          </table>
        </c-col>
      </c-row>
    </c-container>
  </div>
  