<div class="bg-light min-vh-70 d-flex flex-row align-items-center">
    <c-container class="custom-column">
        <c-row class="justify-content-center">

            <c-col lg="7" md="9" xl="6" class="custom-column">
                <div *ngIf="!companyList.length; else hasItems" class="d-flex justify-content-center align-items-center no-dashboard">
                    Sem dashboards por enquanto!
                </div>
            </c-col>
            
            <ng-template #hasItems>
                <c-col lg="7" md="9" xl="6" class="custom-column">
                    <c-spinner *ngIf="isLoading; else elseBlock"></c-spinner>
                    <ng-template #elseBlock class="embed-responsive embed-responsive-16by9">
                        <iframe 
                            class="embed-responsive-item"
                            width="100%" height="700hv"
                            [src]="companyList[currentIndex].urlCompany | safe"
                            frameborder="0">
                        </iframe>
                    </ng-template>
                </c-col>
            </ng-template>
        </c-row>
            <c-row class="justify-content-between" *ngIf="companyList.length">
                <button cButton color="dark" (click)="previous()" style="width: 10%; margin-left: 10px;">previous</button>
                 {{currentIndex + 1}} / {{maxLength}}
                <button cButton color="dark" (click)="next()" style="width: 10%; margin-right: 10px">next</button>
            </c-row>
    </c-container>
</div>