<div class="bg-light min-vh-70 d-flex flex-row align-items-center">
    <c-container class="custom-column">
        <c-row class="justify-content-center">
            <c-col lg="7" md="9" xl="6" class="custom-column">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="100%" height="700hv" src="https://www.irancho.com.br/" frameborder="0"></iframe>
                </div>
            </c-col>
        </c-row>
    </c-container>
</div>