<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="myForm" (ngSubmit)="onLogin()">
                <h1>Entrar</h1>
                <p class="text-medium-emphasis">Entre em sua conta!</p>
                <div *ngIf="f['username'].touched && (f['username']['errors'] && f['username']['errors']['required'])" class="error-message">
                  Usuário é obrigatório
                </div>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input 
                    autoComplete="username" 
                    cFormControl 
                    placeholder="Usuário"
                    formControlName="username"
                    />
                </c-input-group>
                <div *ngIf="f['passwd'].touched && (f['passwd']['errors'] && f['passwd']['errors']['required'])" class="error-message">
                  Senha é obrigatória
                </div>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Senha"
                    type="password"
                    formControlName="passwd"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit">
                      Entrar
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Esqueceu sua senha?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center align-items-center">
              <div>
                <h4>
                  Caso não possua uma conta, registre-se abaixo!
                </h4>
                <button [active]="true" cButton color="primary" routerLink="/register">
                  Registre-se agora!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
