<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="myForm" (ngSubmit)="onRegister()">
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>

              <div *ngIf="f['username'].touched && (f['username']['errors'] && f['username']['errors']['required'])" class="error-message">
                Username is required
              </div>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" formControlName="username"/>
              </c-input-group>

              <div *ngIf="f['email'].touched && (f['email']['errors'] && f['email']['errors']['required'])" class="error-message">
                Email is required
              </div>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input autoComplete="email" cFormControl placeholder="Email" formControlName="email"/>
              </c-input-group>

              <div *ngIf="f['passwd'].touched && (f['passwd']['errors'] && f['passwd']['errors']['required'])" class="error-message">
                Password is required
              </div>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Password" type="password" formControlName="passwd"/>
              </c-input-group>

              <div *ngIf="f['repeatedPass'].touched && (f['repeatedPass']['errors'] && f['repeatedPass']['errors']['required'])" class="error-message">
                Repeat password is required
              </div>
              <div *ngIf="f['repeatedPass'].touched && !isRepeatedPassEquals" class="error-message">
                Password doesnt match!
              </div>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Repeat password" type="password" formControlName="repeatedPass" (ngModelChange)="onChangePass()" />
              </c-input-group>
              <div class="d-grid">
                <button cButton type="submit" color="success">Create Account</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
