<c-modal id="liveDemoModal" [visible]="isVisibleNewCompany" backdrop="static">
    <c-modal-header>
        <h5 cModalTitle>Crie uma empresa!</h5>
        <button (click)="toggleVisible()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <c-card class="mx-4" >
            <c-card-body class="p-4">
                <form cForm [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div *ngIf="f['nameCompany'].touched && (f['nameCompany']['errors'] && f['nameCompany']['errors']['required'])" class="error-message">
                        Nome da empresa é obrigatório
                    </div>
                    <c-input-group class="mb-3">
                        <span cInputGroupText>
                            <svg cIcon name="cilPeople"></svg>
                        </span>
                        <input autoComplete="name" cFormControl placeholder="Nome da empresa" formControlName="nameCompany" [(ngModel)]="myForm.value.nameCompany"/>
                    </c-input-group>

                    <div class="d-grid">
                        <button cButton type="submit" class="orange-background">Salvar empresa</button>
                    </div>
                </form>
            </c-card-body>
        </c-card>
    </c-modal-body>
</c-modal>